@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
   
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.image-slide-container-2{
    margin:20px;
}
 
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  margin:40px;
}
.wrapper i {
  top: 50%;
  margin:-20px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: black;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
 
}

.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
  z-index: 1;
  color:black !important;
  background: white !important;
   
}
.wrapper i:last-child{
  right: -22px;
  color:black;
  background: white;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  
  list-style: none;
  background: linear-gradient(45deg,rgb(0,0,0,0.8),rgb(0,0,0,0.9)) !important;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card:hover{
  transform:scale(1.05);
  transition:0.5s ease-in-out;
}
.carousel .card .img {
   
  height: 100%;
  width: 100%;
  transform:scale(2);
  
   
}
.card .img img {
  width: 140px;
  height: 140px;
  
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
    
  }
  .image-slide-container-2{
    width:80%;
    margin:0;
    
}
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
  .image-slide-container-2{
    transform:scale(0.8);
  }
}

.services{
  display: flex;
  justify-content: space-between;
  width:85%;
  align-items: center;
  margin: 75px auto;
}
.card-1{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: column;
  margin:0px 20px;
   height:400px;
  padding:20px 20px;
  cursor: pointer;
  box-shadow:inset 0px 0px 10px white,inset 0px 0px 10px rgb(159, 149, 149),inset -3px -3px 10px rgba(126, 115, 115, 0.842),inset 0px 0px 10px rgba(141, 126, 126, 0.916),inset 0px 0px 10px rgb(195, 181, 181);
  background: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.76),rgb(0,0,0,0.8));
   
}
.card-1:hover{
  transform: rotateY(360deg);
  transition:0.5s ease-in-out;
  color:white;
  background-color:red;
}
.card-1 .icon{
  font-size:35px;
  margin-bottom:10px;

}
.card-1 h2{
  font-size:24px;
  
  
  background: linear-gradient(#eee, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
  margin-bottom:20px;
}
.card-1 p{
  font-size:17px;
  margin-bottom: 30px;
  line-height:1.5;
  color: #eee;
  text-align: center;
}
@media (max-width:1000px){
  .services{
    display:flex;
    flex-direction: column;
  }
  .card-1{
    display: flex;
    width: 85%;
    margin:20px 0;
  }
}
